.form{
    background-color:  white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: relative;
    transform: translateY(-27px);
    gap: 10px;

    &__input{
        font-family: 'Sono', sans-serif;
        padding: 2px;
        width: 65%;
        border-color: #96ccde;
        border-radius: 3px;
    }
    &__button{
        padding: 3px;
        width: 15%;
        background-color: #96ccde;
        border: $mainColor;
        border-radius: 2px;
    }
}