.form{
    background-color:  white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: relative;
    transform: translateY(-27px);
    gap: 10px;

    &__input{
        width: 65%;
    }
    &__button{
        width: 15%;
        cursor: pointer;
    }
}