@import 'core/reset';
// @import 'core/variables';
//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';

.main {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
.img{
  width: 100px;
}

.js-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.itemList{
  padding: 15px;
  width: 150px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.js-favourites{
  background-color: violet;
}