@import 'core/reset';
@import 'core/variables';
//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
@import 'layout/characters';
@import 'layout/favorites';

.main {
    display: flex;
    flex-direction: column;
}
.allCharacters{
  display: grid;
  grid-template-columns: 1fr 250px;
}
.js-favorites{
  color: white;
  background-color: $mainColor;
}

.title{
  color: $mainColor;
  text-align: center;
}
