@import 'core/reset';
@import 'core/variables';

//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
@import 'layout/header';
// @import 'layout/footer';
@import 'layout/search';
@import 'layout/characters';
@import 'layout/favorites';
@import 'pages/index';

.main {
    display: flex;
    flex-direction: column;
    border-top: 6px solid #96ccde
}
.allCharacters{
  display: grid;
  grid-template-columns: 1fr 250px;
}
.js-favorites{
  color: white;
  background-color: rgba($color: $mainColor, $alpha: 0.6);
}

.title{
  color: $mainColor;
  text-align: center;
}
