@import 'core/reset';
@import 'core/variables';
//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
@import 'layout/characters';
@import 'layout/favorites';

.main {
    display: grid;
    grid-template-columns: 1fr 250px;
}

.title{
  color: $mainColor;
  text-align: center;
}
